<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Geo Quiz Version 0.0.1</title> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>   
    <body>

        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Geo Quiz</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/home">Home</a>
                    </li>
                    <li>
                        <a href="/quiz">Quiz</a>
                    </li>
                    <li>
                        <a href="/study">Study</a>
                    </li>
                    <li>
                        <a href="/login">Log In</a>
                    </li>
                    <li>
                        <a href="/signup">Sign Up</a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="container">